
  @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Edu+SA+Beginner:wght@400;600&family=Indie+Flower&family=Maven+Pro:wght@400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;600;700;800;900&family=Russo+One&family=Shadows+Into+Light&display=swap');


body {
    font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1da1f2;
}

.wrapper {
  background-color: #fff;
  padding: 25px 25px;
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.input-box {
  padding-top: 15px;
  border-bottom: 1px solid #e6e6e6;
}

.tweet-area {
  position: relative;
  min-height: 130px;
  max-height: 170px;
  overflow-y: auto;
}

.editable{
  position: relative;
  z-index: 5;
}
.readonly{
  background-color: transparent;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.overSpan{
  background-color: #ff6666;
}

.tweet-area::-webkit-scrollbar {
  width: 0px;
}

.tweet-area .placeholder{
    color: #98A5B1;
    position: absolute;
    margin-top: -3px;
    font-size: 16px;
    pointer-events: none;

}
.input{
    outline: none;
    min-height: inherit;
    word-wrap: break-word;
    word-break: break-all;
}
.input-box .privacy{
    color: #1da1f2;
    margin: 15px 0;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 7px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: all .2s ease;
}
.input-box .privacy:hover , .icons li:hover{
    background: #e7f5fe;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons{
    display: flex;
    
}
.icons li{
    list-style: none;
    
margin: 0 3px;
color: #1da1f2;
font-size: 20px;
width: 40px;
height: 40px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
transition: all .2s ease;

}
.bottom .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    display: none;
   font-weight: 600;
   font-size: 30px;
   color: #333;
   margin-right: 15px;
   border-right: 1px solid #aab8c2;
   padding-right: 15px;

}
.button{
    background-color: #1da1f2;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    opacity: .4;
    font-size: 15px;
    font-weight: 700;
    pointer-events: none;



}

.button:hover{
    background-color: #0d8bd9;
}

.button.active{
    opacity: 1;
    pointer-events: auto;


}


